include header
block content
	h1 What's your ZIP Code?

	form.pure-form
		fieldset
			input(type='number' name='zip' placeholder='12345')
			input(type='submit' class='pure-button pure-button-primary' value='Go')
include footer
